@using Microsoft.AspNetCore.Components.Web;
@using Taskless.Libraries.Models;

@if (Item is not null)
{
    <div class="task-list-item @GetSelectedCss() @GetEditCss()">
        <span class="task-list-item-emoji @GetEmojiCss()"></span>
        @if (Item.Edit)
        {
            <input @ref=inputElement type="text" @bind-value="@Item.Text" @onkeypress=@OnEnter />
        }
        else
        {
            <span class="task-list-item-text @GetCheckedCss()" style="@(string.IsNullOrEmpty(@Item.Text) ? "height: 18px;" : "")">
                @Item.Text
            </span>
        }
    </div>
}