@using Microsoft.AspNetCore.Components.Web;
@using Taskless.Libraries.Models;

<div class="@GetSelectedCss() @GetEditCss()">
    <span class="task-title">
        @if (Group is not null)
        {
            @if (Group.Edit)
            {
                <input @ref=inputElement style="@GetInputEditWidth()" type="text" @bind-value="@Group.Title" @onkeypress=@OnEnter onkeydown="this.style.width = (((this.value.length + 1) * 8) + 15) + 'px';" />
            }
            else
            {
                <span class="task-title-name">@Group.Title</span>
            }
            <span class="task-title-counter">@(Group.Items.Count(x => x.Checked))/@(Group.Items.Count())</span>
        }
    </span>
</div>

